@font-face {
    font-family: 'PokemonClassic';
    src: url('font/PokemonClassic.ttf') format('truetype');
    /* Add more src declarations for other font formats if necessary */
    font-weight: normal;
    font-style: normal;
}

/* Header */
header {
    position: fixed;
    display: flex;
    padding: 1rem 12rem;
    align-items: center;
}

.logo {
    width: 30%;
    height: auto;
    margin: auto;
    display: block;
    padding-bottom: 2rem;
}

#playContainer {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 8px;
    align-items: center;
    align-content: center;
}

/* Body */
body {
    font-family: 'PokemonClassic', sans-serif;
    margin: 0;
    display: flex; 
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Minimum height to fill viewport */
    background-image: url('./images/bg.jpg');
    background-color: #38582f;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main content area */
.content {
    flex: 1;
    padding: 3rem;
}

#battleLogsContainer {
    width: auto;
    overflow: scroll;
    color: #fff;
    font-size: 14px;
    background-position-y: absolute;
    margin: 0 50px 0 40px;
}

.balttescreen {
    width: 556px;
    height: 371px;
    margin: auto;
    display: block;
    flex-wrap: nowrap;
    align-items: center; 
    background-image: url('./images/bg_battle.png');
    background-repeat: no-repeat;
    border: 20px solid #fff; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

#choices {
    display: flex;
    flex-direction: column;
}

.playerPokeballs {
    margin-top: 12px;
    margin-right: 50px;
    margin-left: auto;
}

.NPCPokeballs {
    display: flex;
    padding-top: 45px;
    padding-left: 80px;
}

/* Effect for the Pokeballs */
.grayed-out {
    filter: grayscale(100%);
}

/* Effect for the Pokemon */
.imagePKMN {
    filter: grayscale(80%);
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.imagePKMN:hover {
    filter: none;
}

.playerPokemon, #NPCPokemon {
    display: flex;
    transition: all .3s ease-in-out;
}

#NPCPokemon {
    min-height: 96px;;
    max-height: 90px;
    width: auto;
    justify-content: end;
    padding-right: 90px;
}

.playerPokemon {
    padding-left: 40px;
    color: #fff;
}


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

h5 {
    color: #252222;
}

/* Animation for Defeating NPC Pokemon */
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}
.npc-pokemon {
    animation: fadeOutDown 1.5s ease forwards;
}
